DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=subs_db
DB_PORT=5432
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=587
SMTP_USER=aaa@aaa.aaa
SMTP_PASS=ffgfjjkgtuujdksf
URL_VERIFICATION=http://localhost:8080/api/email-verification/verify?token=
NOTIFY_URL=http://reviews:8080/api/review/confirm